---
import { getCollection } from 'astro:content';
import ArtImage from '../ArtImage.astro';

const photosetsGetPhotos = await getCollection('photosetsGetListWithPhotos')
---

{photosetsGetPhotos.slice(0,2).map(({ data: photoset }, index) => (
<p class={`mb-4 text-slate-600 dark:text-slate-400 ${index === 1 ? 'mt-4' : ''}`}>Title: {photoset.title} - Total images: {photoset.photos.length}</p>
<div class="grid grid-cols-3 md:grid-cols-6 gap-3 md:gap-6">
  {photoset.photos.slice(0, 6).map((photo) => {
    const sm = photo.imageUrls['640px']
    const md = photo.imageUrls['800px']
    const lg = photo.imageUrls['1024px']

    return (<ArtImage photoId={photo.id} images={{
      sm: { url: sm!.url, height: sm!.height, width: sm!.width },
      md: { url: md!.url, height: md!.height, width: md!.width },
      lg: { url: lg!.url, height: lg!.height, width: lg!.width }
    }} alt={photo.description ?? ''} class="force-square-aspect-ratio rounded-lg" />
    )
  })}
</div>
))}