---
import PeopleGetPhotos from '../components/flickr/PeopleGetPhotos.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import flickrLogo from '../assets/flickr.svg';
import NpmInstall from '../components/NpmInstall.astro';
import ExampleOutput from '../components/ExampleOutput.astro';
import PhotosetsGetList from '../components/flickr/PhotosetsGetList.astro';
import PhotosetsGetPhotos from '../components/flickr/PhotosetsGetPhotos.astro';
import PhotosetsGetListWithPhotos from '../components/flickr/PhotosetsGetListWithPhotos.astro';
import GetUserList from '../components/clerk/GetUserList.astro';
import Plausible from '../components/plausible/Plausible.astro';
import Icon from '../components/Icon.astro';
---

<Layout>
	<main class="mx-auto container px-6 py-6">
		<div class="flex flex-col items-center">
			<h1 class="text-slate-950 dark:text-white text-balance font-bold tracking-tight text-center text-3xl/9 sm:text-5xl md:text-6xl mt-6 md:mt-20">Astro Loaders by LekoArts</h1>
		<p class="mt-8 mb-4 max-w-2xl text-base/6 text-slate-600 dark:text-slate-400 sm:text-lg mx-auto text-center">Need to pull in content using Astro's content layer? Reach for one of the provided loaders below and stop dealing with complicated third-party APIs.</p>
		<a href="https://github.com/LekoArts/astro-loaders" target="_blank" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 inline-flex items-center shadow-lg shadow-blue-500/50 dark:shadow-blue-800/40">
			<Icon class="w-4 h-4 me-2" name="github" />
			Star on Github
		</a>
		<p class="mt-8 text-slate-950 dark:text-slate-200 text-base font-semibold sm:text-lg break-words">Use loaders for</p>
		<ul class="flex flex-row gap-4 mt-2 flex-wrap justify-center">
			{[
				{
					name: 'Clerk',
					icon: <Icon name="clerk" class="h-7 w-7" />
				},
				{
					name: 'Flickr',
					icon: <img src={flickrLogo.src} alt="" class="h-7 w-7" />
				},
				{
					name: 'Plausible',
					icon: <Icon name="plausible" class="h-7 w-7" />
				}
			].map(s => (
				<li class="flex flex-row gap-2 items-center text-lg bg-white dark:bg-slate-900 py-2 px-4 rounded-lg shadow-sm relative">
					{s.icon} <span class="text-slate-950 dark:text-slate-200">{s.name}</span>
				</li>
			))}
		</ul>
		</div>
		<Section>
			<div class="flex flex-row justify-between items-center mb-8">
				<div class="flex flex-row gap-4 items-center">
					<Icon class="w-7 h-7" name="clerk" />
					<h2 class="text-slate-950 dark:text-slate-200 text-balance text-3xl font-semibold tracking-[-0.015em]">Clerk</h2>
				</div>
				<NpmInstall url="https://github.com/LekoArts/astro-loaders/tree/main/packages/clerk" name="@lekoarts/clerk-loader" />
			</div>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>clerkLoader(&#123; clientOptions?: ClerkClientOptions; method: &#123; name: string; options: string | Object &#125; &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">Access certain <a href="https://clerk.com/docs/reference/backend-api" class="hover:underline text-slate-950 dark:text-slate-200">Clerk Backend APIs</a> by choosing a <code>method</code> name.</p>
			<ExampleOutput>
				<GetUserList />
			</ExampleOutput>
		</Section>
		<Section>
			<div class="flex flex-row justify-between items-center mb-8">
				<div class="flex flex-row gap-4 items-center">
					<img src={flickrLogo.src} alt="" class="h-7 w-7" />
					<h2 class="text-slate-950 dark:text-slate-200 text-balance text-3xl font-semibold tracking-[-0.015em]">Flickr</h2>
				</div>
				<NpmInstall url="https://github.com/LekoArts/astro-loaders/tree/main/packages/flickr" name="@lekoarts/flickr-loader" />
			</div>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>flickrPeopleGetPhotosLoader(&#123; username: string &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">Return photos from the given user's photostream. Only photos visible to the calling user will be returned.</p>
			<ExampleOutput>
				<PeopleGetPhotos />
			</ExampleOutput>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>flickrPhotosetsGetListLoader(&#123; username: string &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">Returns the photosets belonging to the specified user.</p>
			<ExampleOutput>
				<PhotosetsGetList />
			</ExampleOutput>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>flickrPhotosetsGetPhotosLoader(&#123; username: string; photoset_id: string &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">Get the list of photos in a photoset.</p>
			<ExampleOutput>
				<PhotosetsGetPhotos />
			</ExampleOutput>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>flickrPhotosetsGetListWithPhotosLoader(&#123; username: string &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">This loader combines the <code>flickrPhotosetsGetListLoader()</code> and <code>flickrPhotosetsGetPhotosLoader()</code> loaders to get the most out of photosets. You'll get back the photosets and their list of photos.</p>
			<ExampleOutput>
				<PhotosetsGetListWithPhotos />
			</ExampleOutput>
		</Section>
		<Section>
			<div class="flex flex-row justify-between items-center mb-8">
				<div class="flex flex-row gap-4 items-center">
					<Icon class="w-7 h-7" name="plausible" />
					<h2 class="text-slate-950 dark:text-slate-200 text-balance text-3xl font-semibold tracking-[-0.015em]">Plausible</h2>
				</div>
				<NpmInstall url="https://github.com/LekoArts/astro-loaders/tree/main/packages/plausible" name="@lekoarts/plausible-loader" />
			</div>
			<h3 class="text-slate-950 dark:text-slate-200 text-base sm:text-lg break-words"><code>plausibleLoader(&#123; query: PlausibleQuery &#125;)</code></h3>
			<p class="text-slate-600 dark:text-slate-400 text-base/6">Access the <a href="https://plausible.io/docs/stats-api" class="hover:underline text-slate-950 dark:text-slate-200">Plausible Stats API</a> with your custom <code>query</code>.</p>
			<ExampleOutput>
				<Plausible />
			</ExampleOutput>
		</Section>
	</main>
	<footer class="mt-12 py-10 mx-auto container text-center text-slate-600 dark:text-slate-400">
		Made by <a href="https://www.lekoarts.de/?utm_source=astro-loaders-website" class="hover:underline text-slate-950 dark:text-slate-200">LekoArts</a>. View the <a href="https://github.com/LekoArts/astro-loaders/tree/main/demos/website" class="hover:underline text-slate-950 dark:text-slate-200">source code</a>.
	</footer>
</Layout>
