---
import "../global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>📈</text></svg>" />
		<meta name="generator" content={Astro.generator} />
		<title>Trakt.tv in Review</title>
	</head>
	<body>
		<slot />
	</body>
</html>
