---
import "../global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>🌋</text></svg>" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Loaders by LekoArts</title>
	</head>
	<body>
		<div class="bg-slate-50 dark:bg-slate-800 min-h-screen">
			<slot />
		</div>
	</body>
</html>
